body {
  background-color: #f2f2f2;
  margin: 5%;
}

.card  {
    border-radius: 10px;
    box-shadow: 5px 5px 5px lightgrey;
    margin: 10px;
    padding: 10px;
}

.card-body {
    padding-top: 10px;
}
.card-header {
    padding: 0px;
    margin-bottom: 10px;
}

.navbar-light .navbar-brand, .navbar-light .navbar-brand:hover {
    color: #f2f2f2;
}

.row {
    margin-left: 0px;
    margin-right: 0px;
}