body {
    background-color: #ffffff;
}

a {
    color: #26d3b7;
    font-weight: 600;
}

a:hover {
    color: #45e6cc;
}

.btn-wa {
    border: 2px solid #77d7c8;
    border-radius: 0.5rem;
    font-weight: 500;
    color: #1cb39b;
}

.btn-wa:hover {
    background-color: #d4f1ed;
    color: #1cb39b;
}

.visualize {
    margin-top: 60px;
    margin-left: 5%;
    margin-right: 5%;
}

.home {
    margin-top: 10px;
    margin-left: 5%;
    margin-right: 5%;
}

.home-header {
    display: flex;
    background-color: #1ebea5;
    height: 80px;
    color: #fff;
}

.home-header a {
    line-height: 70px;
    padding-left: 10px;
    padding-right: 10px;
}

.home-header h1 {
    line-height: 80px;
}

.home-footer {
    display: flex;
    width: 100%;
    height: 40px;
    line-height: 40px;
    background-color: #273443;
    color: #fff;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 14px;
}

.home-footer i {
    vertical-align: middle;
    font-size: 20px;
    font-weight: 400;
    margin-left: 5px;
    color: #fff;
}


.fas.fa-at {
    font-weight: 600;
}
.card  {
    border-radius: 10px;
    box-shadow: 5px 5px 5px lightgrey;
    margin: 10px;
    padding: 10px;
    border-color: #77d7c8;
}

.card-body {
    padding: 10px;
    padding-bottom: 0px;
}

.card-header {
    padding: 0px;
    margin-bottom: 10px;
    border-color: #77d7c8;
}

.single-header {
    margin-bottom: -5px;
    text-align: center;
}

.card-filter {
    position: sticky;
    top: 50px;
    z-index: 8000;
    margin-bottom: 20px;
}

.small-note p {
    margin-bottom: 0px;
    font-size: 12px;
    line-height: 14px;
}

.Select-placeholder {
    padding-left: 17px;
}
.DateInput {
    width: 100px;
}

.DateInput_input {
    font-size: 1rem;
    font-weight: 400;
    color: inherit;
    padding: 5px;
    text-align: center;
}

.DateRangePickerInput__withBorder {
    border-radius: 4px;
    border-color: #ccc;
}

.DateRangePickerInput__showClearDates {
    padding-right: 30px;
}

.DateRangePickerInput_clearDates {
    right: -10px;
    top: 17px
}

.wa-navbar {
    background-color: #1ebea5 !important;
    height: 50px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.navbar-light .navbar-brand, .navbar-light .navbar-brand:hover {
    color: #fff;
    font-weight: 600;
}

.row, .col {
    margin-left: 0px;
    margin-right: 0px;
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.upload-file {
    width: 100%;
    height: 200px;
    line-height: 200px;
    border-width: 3px;
    border-style: dashed;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 5px;
}

tr {
    line-height: 1.25;
}

td {
    vertical-align: top;
    padding-right: 10px;
    white-space: nowrap;
    overflow: hidden;
}

.td-content {
    padding-right: 30px;
    max-width: 180px;
}

.td-value {
    text-align: right;
}

.modebar{
    display: none !important;
}